:root {
    --scale: 2.4vh; /* Main unit in smash poker */
    --font-scale: calc(var(--scale) * 0.9); /* Main text unit in smash poker */
    --font: "Fragment Mono"; /* Helvetica monospace */

    --background-primary: dimgrey;
    --background-secondary: rgb(62, 76, 76); /* modifed version of darkslate grey */
    --background-tertiary: grey;

    --primary-button-color: DarkSlateBlue;
    --secondary-button-color: GoldenRod;

    --blur-intensity: 2; /* how much blur there will be on semi blured elements, higher means less*/

    --bubble-color: darkgrey; /* Used in the background of rouned containers */
    --dark-bubble-color: rgb(57, 50, 43);
    --blue-bubble-color: MidnightBlue;
    --dark-bubble-text: PapayaWhip;
    --secondary-text-color: white; /* Nav button text */
    --out-of-bounds-color: slategray;

    --border-Colors: black; /* also primary text color */
    --border-thick-width: calc(var(--scale) / 2);
    --border-thin-width: calc(var(--scale) / 3);
    --border-extra-thin-width: calc(var(--scale) / 4);
    --border-super-thin-width: calc(var(--scale) / 5);

    --head-icon: url("Assets/inventory/BG3/equipment icons/BG3-Helmets_Icon.webp");
    --feet-icon: url("Assets/inventory/BG3/equipment icons/BG3-Boots_Icon.webp");
    --body-icon: url("Assets/inventory/BG3/equipment icons/BG3-Clothing.webp");
    --pants-icon: url("Assets/inventory/BG3/equipment icons/BG3-Underwear_Icon.webp");
    --hand-icon: url("Assets/inventory/BG3/equipment icons/BG3-Gloves_Icon.webp");
    --necklace-icon: url("Assets/inventory/BG3/equipment icons/BG3-Amulets.webp");
    --belt-icon: url("Assets/inventory/BG3/equipment icons/BG3_Belts_Icon.webp");
    --storage-icon: url("Assets/inventory/BG3/equipment icons/BG3-Backpack.webp");
    --main-hand-icon: url("Assets/inventory/BG3/equipment icons/BG3-Weapon_Icon.webp");
    --off-hand-icon: url("Assets/inventory/BG3/equipment icons/BG3-Shields_Icon.webp");
}

/* Fix for chromium browsers */
button {
    font-family: var(--font) !important;
    cursor: pointer;
}

/* functional classes */

.hide /* class for hide and unhideing elements */ {
    display: none !important;
}

.invisable /* class for hide and unhideing elements */ {
    opacity: 0%;
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.context-pointer {
    cursor: context-menu;
}

.disabled-click {
    cursor: not-allowed;
}

.border-super-thin {
    border: var(--border-super-thin-width) solid var(--border-Colors);
}

.border-extra-thin {
    border: var(--border-extra-thin-width) solid var(--border-Colors);
}

.border-thin {
    border: var(--border-thin-width) solid var(--border-Colors);
}

.border-thick {
    border: var(--border-thick-width) solid var(--border-Colors);
}

.flex /* made this a class since its used a lot */ {
    display: flex;
}

.fit-img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.fit-div {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.bubble /* equivlent of scratch variable display */ {
    background-color: var(--bubble-color);
    border: calc(var(--scale) / 5) solid var(--border-Colors);
    border-radius: calc(var(--scale) * 1);
}

.dark-bubble /* equivlent of scratch variable display */ {
    background-color: var(--dark-bubble-color);
    border: calc(var(--scale) / 5) solid var(--border-Colors);
    border-radius: calc(var(--scale) * 1);
    color: var(--dark-bubble-text);
}

.blue-bubble /* equivlent of scratch variable display */ {
    background-color: var(--blue-bubble-color);
    border: calc(var(--scale) / 5) solid var(--border-Colors);
    border-radius: calc(var(--scale) * 1);
    color: var(--dark-bubble-text);
}

/* text */

.normal-text /* text for pizes */ {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: last baseline;
}

.tiny-text {
    margin: 0px;
    font-size: calc(var(--font-scale) * 0.65);
}

.small-text {
    margin: 0px;
    font-size: calc(var(--font-scale) * 0.85);
}

.medium-text {
    margin: 0px;
    font-size: var(--font-scale);
}

.large-text {
    margin: 0px;
    font-size: calc(var(--font-scale) * 1.2);
}

.huge-text {
    margin: 0px;
    font-size: calc(var(--font-scale) * 1.5);
}

.massive-text {
    font-size: calc(var(--font-scale) * 2);
}

.gigantic-text {
    font-size: calc(var(--font-scale) * 2.5);
}

.colossal-text {
    font-size: calc(var(--font-scale) * 6);
}

.Header-text /* bolded text */ {
    font-weight: bold;
}

.center-text /* needs to have flex most of the time to work */ {
    align-items: center;
    justify-content: center;
    display: flex;
}

.right-text {
    justify-self: end;
    margin-left: auto;
}

.left-text {
    justify-self: start;
    margin-right: auto;
}

/* buttons / boxes */
.button /* basic/fallback button */ {
    background-color: var(--primary-button-color);
    border: calc(var(--scale) / 2.5) solid var(--border-Colors);
    align-items: center;
}

.button-secondary /* nav button */ {
    background-color: var(--secondary-button-color);
    border: calc(var(--scale) / 2.5) solid var(--border-Colors);
    color: var(--secondary-text-color);
}

/* Area sections */

body {
    background-color: var(--out-of-bounds-color); /* out of bounds area */
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: var(--font);
    font-size: var(--font-scale);
    color: var(--border-Colors);
    overflow: hidden;
}

.main-content /* area where everything takes place */ {
    display: grid;
    grid-template-rows: 23% 77%;
    grid-template-columns: 100%;
    height: calc(var(--scale) * 40); /* about 91vh by defualt */
    aspect-ratio: 4.2/3; /* want something somewhat wide but it still has so side bars */
    margin-top: calc(var(--scale) / -3); /* line up the top with the top of the screen */
    border-radius: calc(var(--scale) * 0.4);
}

/* Bottom sections */

.bottom-section {
    background-color: var(--background-secondary);
}

/* Toolbar */

.toolbar {
    background-color: var(--background-primary);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 18%) 40%;
    padding: 1.5%;
    gap: 2%;
    border-bottom: calc(var(--scale) / 2.5) solid var(--border-Colors);
}

#info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);
    margin-top: calc(var(--scale) / -2);
    margin-bottom: calc(var(--scale) / -2);
    padding: 2%;
}

/* status screen */

.status-screen {
    display: grid;
    grid-template-rows: 22% auto;
    grid-template-columns: repeat(3, 33.33333%);
}

.status-toolbar {
    grid-column: 1 / 4;
}

.inventory-preview {
    display: grid;
    grid-template-columns: 24% auto 25%;
    grid-template-rows: repeat(6, 15%);
    row-gap: 2%;
    border-left: 0;
    border-bottom: 0;
    padding: calc(var(--scale) / 5);
}

.inventory-preview[data-slot="3"] {
    border-right: 0;
}

.person-picture {
    grid-column: 2;
    grid-row: 1/6;
}

*[data-equipment] {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

*[data-equipment][data-inslot=""]::after {
    content: "";
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 40%;
}

*[data-equipment="head"][data-inslot=""]::after {
    background-image: var(--head-icon);
}

*[data-equipment="feet"][data-inslot=""]::after {
    background-image: var(--feet-icon);
}

*[data-equipment="pants"][data-inslot=""]::after {
    background-image: var(--pants-icon);
}

*[data-equipment="body"][data-inslot=""]::after {
    background-image: var(--body-icon);
}

*[data-equipment="hands"][data-inslot=""]::after {
    background-image: var(--hand-icon);
}

*[data-equipment="necklace"][data-inslot=""]::after {
    background-image: var(--necklace-icon);
}

*[data-equipment="belt"][data-inslot=""]::after {
    background-image: var(--belt-icon);
}

*[data-equipment="storage"][data-inslot=""]::after {
    background-image: var(--storage-icon);
}

*[data-equipment="mainHand"][data-inslot=""]::after {
    background-image: var(--main-hand-icon);
}

*[data-equipment="offHand"][data-inslot=""]::after {
    background-image: var(--off-hand-icon);
}
